<br>
<center>
<h1>A Japa Journal Built For You</h1>
<br>
<p>
<%= button_to 'Create Account', new_user_registration_path, class: 'btn btn-success' %>
<%= button_to 'Sign In', new_user_session_path, class: 'btn btn-warning' %>
</p>
</center>